name: poruaa_core
description: "A new Flutter package project."
version: 0.0.1
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
homepage:

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  http: ^1.3.0
  json_annotation: ^4.9.0
  dart_http_sse: ^1.0.3
  jwt_decoder: ^2.0.1
  flutter_secure_storage: ^9.2.4
  intl: ^0.20.2
  rxdart: ^0.28.0
  device_info_plus: ^12.1.0
  package_info_plus: ^9.0.0
  collection: ^1.19.1
  drift: ^2.26.0
  drift_flutter: ^0.2.4
  path_provider: ^2.1.5
  mime: ^2.0.0
  http_parser: ^4.1.2
  image: ^4.5.4
  image_picker: ^1.1.2
  file_picker: ^10.3.3
  url_launcher: ^6.3.2
  webview_flutter: ^4.13.0
  google_sign_in: ^7.1.1
  app_links: ^6.3.2
  shared_preferences: ^2.5.3
  flutter_soloud: ^3.3.7
  decimal: ^3.2.4
  archive: ^4.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0
  drift_dev: ^2.26.0
  build_runner: ^2.9.0
  flutter_launcher_icons: ^0.14.4
  json_serializable: ^6.11.1
  flutter_gen_runner: ^5.12.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
